:root {
    --bg_col: rgb(13, 17, 23);
    --card_top_col: rgb(55, 97, 161);
    --card_bottom_col: rgb(22, 27, 34);

    --text_col: rgb(230, 233, 240);
    --muted_text_col: rgb(139, 148, 158);

    --border_col: rgb(48, 54, 61);
    --gh_fill: rgb(184, 189, 204);
    --pfp_fill: rgb(22, 27, 34);
}

#A
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

body
{
    transition: all 0.2s ease-out;
    background-color: var(--bg_col);
    padding: 0;
    margin: 0;
    color: var(--text_col);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card
{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    display: flex;
    flex-direction: column;

    min-width: 200px;
    max-width: 500px;
    min-height: 500px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);

    border: 1px solid var(--border_col);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.im
{
    width: 100px;
    height: 100px;
}

.pfp-box
{
    width: 100px;
    height: 100px;
    position: relative;
    top: 40%;
    background-color: var(--card_top_col);
    border-style: solid;
    border-width: 9px;
    border-radius: 100%;
    border-color: var(--card_top_col);
}

.pfp
{
    transition: all 0.2s ease-out;
    width: 100px;
    height: 100px;
    fill: var(--pfp_fill);
}


.top
{
    transition: all 0.2s ease-out;
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: var(--card_top_col);
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.bottom
{
    transition: all 0.2s ease-out;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card_bottom_col);
    height: 80%;
    border-radius: 0px 0px 10px 10px;
}
.text
{
    transition: all 0.2s ease-out;
    padding-top: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text p
{
    color: var(--muted_text_col)
}

.github-icon
{
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    fill: var(--gh_fill);
    opacity: 0.9;
    border-radius: 100%;
}

.github-icon:hover
{
    transform: scale(1.1);
}

#check
{
    width: 20px;
    height: 20px;
}